.p1 {
    color: DodgerBlue;
    background-color: rgb(154, 205, 50)
}

.p2 {
    color: rgb(84, 112, 36);
    background-color: goldenrod
}

.p3 {
    color: DodgerBlue;
    background-color: rgb(139, 0, 139, 1)
}